@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    color: var(--black-color);
    margin: auto;
}
header {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bc);
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 11rem 0 11rem;
  }

  header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: 700;
  }

  header .navbar{
    display: flex;
    gap: 3rem;
  }

  header .navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header .navbar a:hover {
    color: var(--main-color);
  }

  header #toggler {
    display: none;
  }

  header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
  }

.container {
    max-width: 1000px;
    margin: auto;
}

.hero .container{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.hero .container .info .rating{
    display: flex;
}
  
.hero .container .img{
    width: 85%;
}

.hero .container .info .rating{
    display: flex;
    align-items: center;
}

.hero .container .info .rating p{
    font-size: 0.9rem;
    padding-left: 1rem;
}

.hero .container .info h1{
    font-size: 2.9rem;
    padding: 1rem 0 1rem 0;
}



.hero .container .info ul {
    display: flex;
    padding-top: 1rem;
    gap: 2rem;
}

.hero .container .info .bonus li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.5rem ;
}

.hero .container .info .bonus li::before{
    content: url(../images/Checkmark.svg);
    
    
}


.about-us-title strong {
    color: var(--main-color);
    margin-bottom: 0.9rem;
    display: block;
}

.about-us-title h2 {
    font-weight: 700;
    font-size: 2rem;
    width: 50%;
}

.card-about-us {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
}

.card-about-us > li {
    list-style: none;
}

.card-about-us > li > h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0 0.9rem 0;
}

.card-about-us > li > p {
    color: var(--lighter-color);
    line-height: 24px;
}

.why-fiber {
    margin: var(--margin-4-rem) 0 var(--margin-4-rem) 0;
}

.about-us-title {
    margin-bottom: 2rem;
}

 .container-free-trial {
    background: var(--main-color);
    padding: 3rem;
    border-radius: 10px;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.text-start {
    flex-basis: 42%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.img-start {
    flex-basis: 52%;
    margin-bottom: -48px;
}

.start-free-trial > .container > .text-start h2 {
    font-size: 2rem;
}

.start-free-trial > .container > .text-start p {
    line-height: 28px;
    opacity: 0.9;
    font-size: 1.1rem;
    font-weight: 300;
}

.start-free-trial {
    margin-bottom: var(--margin-4-rem);
}

.start-free-trial-btn {
    background: #fff;
    color: var(--black-color);
    padding: 1.1rem 1.4rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.0rem;
    display: block;
    width: max-content;
    border: 2px solid #fff;
    transition: all 0.5s;
}

.start-free-trial-btn:hover, .start-free-trial-btn:focus {
    background: #ff000000;
    animation: pulse 1s;
    color: #fff;
    border: 2px solid #ffffff66;
    box-shadow: 0 0 0 3em #230b0b00;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 #ffffff1f; }
}

.img-start img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}

.comments{
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem;
    gap: 3rem;
}

.comments .container .card-comments{
    width: 17rem;
    height: 14rem;
    border: 0.1rem solid #e7e6e4;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.comments .container .card-comments .profile{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.comments .container .card-comments .profile h4{
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    font-size: 0.8rem;
}

.comments .container .card-comments .profile h4 span{
    color: var(--black-color);
    font-size: 0.8rem;

}

.comments .container .card-comments .info-comments p{
    font-size: 0.7rem;
    padding-top: 1rem;
}

.comments .container .card-comments .info-comments button{
    background-color: var(--light);
    border: 0.1rem solid #e7e6e4;
    border-radius: 0.4rem;
    color: var(--main-color);
    font-weight: 700;
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    transition: 0.3s ease-in-out;
}

.comments .container .card-comments .info-comments button:hover{
    background-color: var(--main-color);
    color: var(--light);
    cursor: pointer;
}

footer {
    background: #fbf8f3;
    padding: 4rem;
}

footer > .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.about-footer {
    flex: 36% 0 1;
}

.about-footer h2 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.about-footer p {
    display: block;
    line-height: 25px;
    margin-bottom: var(--margin-2-rem);
    color: var(--lighter-color);
}

.footer-links {
    flex: 58% 0 1;
    display: flex;
    justify-content: space-between;
}

.footer-links > ul > li,
.nav li a {
    list-style: none;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

.footer-links > ul > strong {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: block;
}

.footer-links > ul > li > a,
main .hero .container .info ul li a,
.nav li a{
    color: var(--lighter-color);
    position: relative;
    z-index: 1111;
    transition: all 0.4s;
}

.footer-links > ul > li > a::before,
main .hero .container .info ul li a::before,
.nav li a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0%;
    background: var(--main-color);
    height: 0%;
    border-radius: 4px;
    bottom: 0;
    transition: all 0.8s;
    opacity: 0;
}

.footer-links > ul > li > a:hover::before,
main .hero .container .info ul li a::before,
.nav li a::before {
    height: 1%;
    width: 100%;
    transition: all 0.8s;
    opacity: 0.9;
}

.footer-links > ul > li > a:hover,
main .hero .container .info ul li a:hover,
.nav li a:hover {
    color: var(--main-color);
} 